---
layout: default
---
{% assign songs = site.posts | sort: title %}

<div class="sidebar-right">
  <ul style="list-style: none;">
    <h2>*songs*</h2>
    {% for song in songs  %}
      <li>
        <a href="{{ song.url }}">{{ song.title | upcase }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% assign ep_songs = site.tags.ep %}

<div class="sidebar-right">
  <ul style="list-style: none;">
    <h2>*ep candidates*</h2>
    {% for song in ep_songs  %}
      <li>
        <a href="{{ song.url }}">{{ song.title | upcase }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% assign wips = site.wip | sort: title %}

<div class="sidebar-right">
  <ul style="list-style: none;">
    <h2>*wip*</h2>
    {% for wip in wips  %}
      <li>
        <a href="{{ wip.url }}">{{ wip.title | upcase }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
