---
layout: default
---

<div class="nav-header">
  <h2>{{ page.title }}</h2>
  <h4>
    <a style="float:left;" href="{{ page.previous.url }}"> << PREV </a>
    <a style="float:right;" href="{{ page.next.url }}">NEXT >></a>
  </h4>
</div>

<br>

<div class="post">
  {{ content }}
</div>

<div class="nav-footer">
  <h4>
    <a style="float:left;" href="{{ page.previous.url }}"> << PREV </a>
    <a style="float:right;" href="{{ page.next.url }}">NEXT >></a>
  </h4>
</div>

<script>
function leftArrowPressed() {
  window.location.replace("{{ page.previous.url }}");
}

function rightArrowPressed() {
  window.location.replace("{{ page.next.url }}");
}

document.onkeydown = function(evt) {
    evt = evt || window.event;
    switch (evt.keyCode) {
        case 37:
            leftArrowPressed();
            break;
        case 39:
            rightArrowPressed();
            break;
    }
};
</script>
